.single-card {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 3px 4px 18px -1px rgb(0 0 0 / 75%);
    width: clamp(45ch, 50%, 75ch);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.card-img {
    height: 100px;
    width: 100%;
    overflow: hidden;
    filter: grayscale(60%);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;

}
    
.pro-title, 
.pro-desc {
    text-align: center;
    margin: 1rem 0;
} 

.pro-title {
    font-size: 1.3rem;
    font-weight: 400;
}

