.nav-bar {
    /*border: solid 1px red;*/
}

.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    font-size: 1.5rem;
    padding: .5rem 1rem;
}


.btn {
    /* the tricks */
    transform: rotate(90deg);
    border: none;
    color: #000;
    background-color: transparent;
}


.nav-links {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}


.no-show {
    position: relative; 
    height: 0;
    overflow: hidden;
}