.nav-bar {
    /*border: solid 1px red;*/
}

.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 4rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
}


.btn {
    /* the tricks */
    transform: rotate(90deg);
    border: none;
    color: #000;
    background-color: transparent;
}