.main-info {
    background-color: #F8F9FA;
    display: grid;
    place-items: center;
    min-height: 30vh;
    height: 30vh;
    
}

.main-info-h1 {
    text-transform: capitalize;
    font-size: 2.3rem;
    text-align: center;
    width: 90%;
}

.main-info-p {
    font-size: 1.8rem;
    text-align: center;
}